body {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: 0;
  background: #fff;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
}

section {
  padding: 40px 20px;
}

.gallery img {
  width: 90%;
  max-width: 300px;
  margin: 10px;
}

/* ===== MUSIC BUTTON ===== */
#music-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
  z-index: 999;
}
/* ===== MUSIC BUTTON ===== */
#music-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
  z-index: 999;
}

/* trạng thái */
#music-btn.playing {
  animation: spin 2.5s linear infinite;
}

#music-btn.paused {
  opacity: 0.6;
}

/* animation xoay */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
